$font_stack_one: 'Lato', sans-serif;
$font_stack_two: 'Source Sans Pro', sans-serif;

$header_background:        #f5f7fa;
$link_color:               #8494a6;
$main_text_color:          #506a85;
$white_element:            #ffffff;
$latest_works_background:  #f2f5f7;
$footer_bottom_text_color: #616f7d;
$footer_top_background:    #2f4052;
$footer_bottom_background: #283645;
$description_color:        #a3b1bf;
$input_background:         #4e5c6c;
$placeholder_color:        #6a7784;
$subtitle_description_color:   #73879c;
$button_indicators_background: #00bc9c;