* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.container_fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    content: '';
    clear: both;
    display: block;
}

.navbar_block_footer {
    float: right;
}

.left,
.contact_link_block,
.social_icons_block,
.main_logo_block_header,
.navbar_block,
.advantage_caption,
.gallery_item_block,
.gallery_item,
.latest_work,
.who_we_are_block_footer,
.latest_works_block_footer,
.latest_work_footer,
.get_in_touch_block_footer,
.icon_location_footer,
.icon_phone_footer,
.icon_email_footer,
.free_updates_block_footer,
.copyright_text_block,
.search_block,
.icon_phone,
.icon_email,
.icon_facebook,
.icon_gplus,
.icon_twitter,
.icon_pinterest,
.icon_behance,
.icon_dribbble,
.icon_location_footer,
.icon_phone_footer,
.icon_email_footer,
.contact_link {
    float: left;
}

.clear {
    clear: both;
}

.contact_link_block,
.social_icons_block,
.main_logo_block_header,
.navbar_block,
.item,
.item_1,
.item_2,
.item_3,
.advantage_block,
.block_subtitle,
.latest_work,
.gallery_item,
.gallery_indicators,
.navbar_block_footer,
.footer_bottom,
.footer_top,
.who_we_are_block_footer,
.latest_work,
.get_in_touch_block_footer,
.copyright_text_block,
.icon_search,
.carousel_caption_left,
.carousel_caption_right,
.block_title,
.carousel_caption,
.start_button_block,
.carousel_main_title,
.carousel_description,
.hamburger_button,
.form {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.img_responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.header_top {
    background-color: #f5f7fa;
    padding-bottom: 15px;
    padding-top: 15px;
}

.header_bottom {
    margin-bottom: 25px;
    margin-top: 35px;
}

a {
    text-decoration: none;
}

.contact_link {
    color: #8494a6;
    font: 12px "Source Sans Pro", sans-serif;
}

.icon {
    background: no-repeat;
    margin-right: 10px;
}

.icon_contacts {
    background: url("../../images/icons/spritesheet.png") no-repeat;
}

.icon_phone {
    width: 8px;
    height: 13px;
    background-position: -67px -74px;
    margin-top: 3px;
    display: inline-block;
}

.icon_email {
    width: 12px;
    height: 9px;
    background-position: -10px -41px;
    margin-top: 3px;
    display: inline-block;
}

.icon_facebook {
    width: 7px;
    height: 13px;
    background-position: -72px -41px;
}

.icon_gplus {
    width: 11px;
    height: 11px;
    background-position: -10px -74px;
}

.icon_twitter {
    width: 11px;
    height: 9px;
    background-position: -10px -106px;
}

.icon_pinterest {
    width: 9px;
    height: 11px;
    background-position: -99px -43px;
}

.icon_behance {
    width: 13px;
    height: 10px;
    background-position: -40px -10px;
}

.icon_dribbble {
    width: 12px;
    height: 11px;
    background-position: -73px -10px;
}

.icon_margin_left {
    margin-left: 10px;
}

.icon_search {
    width: 13px;
    height: 12px;
    background-position: -93px -74px;
}

.icon_passion {
    background: url("../../images/icons/icon_heart.png") no-repeat;
    width: 61px;
    height: 53px;
    min-width: 75px;
}

.icon_creativity {
    background-image: url("../../images/icons/icon_lamp.png");
    width: 46px;
    height: 65px;
    min-width: 68px;
    margin-left: 7px;
}

.icon_quality {
    background-image: url("../../images/icons/icon_star_empty.png");
    width: 56px;
    height: 53px;
    min-width: 75px;
}

.icon_brackets {
    background-image: url("../../images/icons/icon_brackets.png");
    width: 75px;
    height: 47px;
    min-width: 75px;
}

.icon_hand {
    background-image: url("../../images/icons/icon_hand.png");
    width: 63px;
    height: 64px;
    min-width: 75px;
}

.icon_spiker {
    background-image: url("../../images/icons/icon_spiker.png");
    width: 73px;
    height: 62px;
    min-width: 75px;
}

.icon_location_footer {
    width: 8px;
    height: 12px;
    background-position: -41px -74px;
    min-width: 13px;
    margin-right: 10px;
}

.icon_phone_footer {
    width: 9px;
    height: 13px;
    background-position: -104px -10px;
    min-width: 13px;
    margin-right: 10px;
}

.icon_email_footer {
    width: 13px;
    height: 9px;
    background-position: -41px -41px;
    min-width: 13px;
    margin-right: 7px;
}

.social_icons_block {
    text-align: right;
}

.social_icons_block a {
    display: inline-block;
}

.nav li {
    list-style-type: none;
    display: inline;
    font: bold 15px "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    padding-right: 22px;
    padding-left: 22px;
}

.nav a {
    color: #506a85;
}

.navbar_block {
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav_footer li {
    list-style-type: none;
    display: inline-block;
    font: 14px "Source Sans Pro", sans-serif;
    padding-left: 11px;
}

.nav_footer a {
    color: #616f7d;
}

.nav_footer {
    text-align: right;
}

.hamburger_button {
    border: solid 1px #8494a6;
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

.hamburger_button:active .nav {
    display: block;
}

.navbar {
    width: 35px;
    height: 3px;
    background-color: #506a85;
    margin: 3px auto;
    border-radius: 5px;
}

.padding_right {
    padding-right: 11px;
}

.marked:before {
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #616f7d;
    position: relative;
    top: 10px;
    right: 13px;
}

.search_block {
    padding-bottom: 10px;
    padding-top: 13px;
}

.search_block a {
    float: right;
    margin-right: 15px;
}

.item {
    width: 100%;
    min-height: 880px;
    display: inline;
    float: left;
}

.item_1 {
    background: center left url("../../images/slider/slider_1.jpg") no-repeat;
    background-size: cover;
}

.item_2 {
    background: center center url("../../images/slider/slider_2.jpg") no-repeat;
}

.item_3 {
    background: center center url("../../images/slider/slider_3.jpg") no-repeat;
}

.item_4 {
    background: center left url("../../images/slider/slider_4.jpg") no-repeat;
}

.item_5 {
    background: center center url("../../images/slider/slider_5.jpg") no-repeat;
}

.slidewrapper
{
    position: absolute;
    left: 0;
    top: 0;
    height: 880px;
    margin: 0;
    padding: 0;
}

.controls {
    width: 60px;
    height: 60px;
    z-index: 1000;
    position: absolute;
    top: 45%;
    opacity: 0;
}

.prev_slid {
    background: url("../../images/left_prev_button.png") no-repeat;
    left: 50px;
}

.prev_slid:hover {
    background: url("../../images/left_prev_button_hover.png") no-repeat;
}

.next_slid {
    background: url("../../images/right_next_button.png") no-repeat;
    right: 50px;
}

.next_slid:hover {
    background: url("../../images/right_next_button_hover.png") no-repeat;
}

.carousel {
    position: relative;
    width: 100%;
    height: 880px;
}

.carousel_caption_center {
    text-align: center;
}

.carousel_title {
    font: 900 78px "Lato", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.carousel_main_title {
    letter-spacing: 4px;
}

.carousel_description {
    font: 400 24px "Source Sans Pro", sans-serif;
}

.carousel_description_center {
    color: #a3b1bf;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.carousel_caption_right {
    float: right;
    text-align: right;
    padding-top: 145px;
}

.carousel_description_left {
    color: #506a85;
}

.carousel_caption_left {
    padding-top: 270px;
}

.carousel_item_1_margin {
    padding-top: 280px;
}

.carousel_item_5_margin {
    padding-top: 100px;
}

.carousel:hover .controls, .carousel:hover .pagination {
    opacity: 1;
    transition: 0.5s;
}

.text_blue_background {
    background-color: #506a85;
    margin-bottom: 10px;
    display: inline-block;
    padding: 20px;
}

.text_white {
    color: #ffffff;
}

.start_button {
    color: #ffffff;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font: bold 18px "Source Sans Pro", sans-serif;
    background: #00bc9c;
    text-align: center;
    border-radius: 3px;
}

.start_button_header {
    padding: 25px;
    max-width: 294px;
    margin-top: 69px;
    margin-bottom: 58px;
}

.get_in_touch_button {
    padding: 20px;
    max-width: 150px;
    font-size: 15px;
    margin-top: 25px;
}

.block_unit_name {
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
    padding-bottom: 75px;
    text-align: center;
}

.block_title {
    font: bold 44px "Lato", sans-serif;
    color: #506a85;
    text-align: center;
    margin-bottom: 21px;
}

.block_subtitle {
    font: 22px "Source Sans Pro", sans-serif;
    color: #73879c;
    text-align: center;
    margin-top: 21px;
    line-height: 34px;
}

.advantage_title {
    font: bold 26px "Lato", sans-serif;
    color: #506a85;
    margin-bottom: 15px;
}

.advantage_description {
    font: 16px "Source Sans Pro", sans-serif;
    color: #73879c;
    margin-top: 15px;
    line-height: 24px;
}

.advantage_block {
    padding-bottom: 20px;
}

.advantage_block:after {
    content: '';
    display: block;
    clear: both;
}

.advantage_appearing {
    margin-top: 20px;
    transition: 1s;
    opacity: 0;
}

.hidden_block {
    display: none;
    transition: 1s;
    opacity: 0;
}

.appearing_blocks {
    padding-bottom: 75px;
}

.start_button_block {
    text-align: center;
}

.latest_works_block {
    background: #f2f5f7;
}

.latest_work_inner {
    background: #ffffff;
    max-width: 570px;
}

.latest_work_caption {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 29px;
}

.latest_work_title {
    color: #506a85;
    font: bold 20px "Lato", sans-serif;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.latest_work_description {
    font: 14px "Source Sans Pro", sans-serif;
    color: #73879c;
    padding-top: 5px;
}

.latest_work_footer {
    padding-bottom: 5px;
    padding-right: 5px;
    max-width: 130px;
}

.gallery {
    padding-bottom: 50px;
}

.gallery_item_block {
    padding-top: 84px;
    padding-bottom: 45px;
}

.gallery_indicators {
    text-align: center;
}

.gallery_indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #506a85;
    margin-left: 5px;
    margin-right: 5px;
}

.gallery_indicators li:hover {
    background: #00bc9c;
}

.gallery_img {
    display: inline-block;
}

.get_in_touch_block {
    padding-bottom: 60px;
}

.footer_top {
    background: #2f4052;
    padding-bottom: 70px;
    padding-top: 70px;
}

.footer_block_tittle {
    font: bold 16px "Lato", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 24px;
}

.footer_block_description_margin {
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer_block_description {
    color: #a3b1bf;
    font: 14px "Source Sans Pro", sans-serif;
    line-height: 21px;
}

.footer_block_description_margin_contact {
    position: relative;
    top: -5px;
}

.footer_bottom {
    background: #283645;
    padding-top: 35px;
    padding-bottom: 35px;
}

.more_about_link {
    font: bold 15px "Source Sans Pro", sans-serif;
    color: #a3b1bf;
}

.more_about_link_icon {
    width: 10px;
    height: 8px;
}

.contact_footer {
    margin-bottom: 5px;
    margin-top: 5px;
}

.input_subscribe {
    max-width: 155px;
    height: 15px;
    color: #ffffff;
}

.form {
    background: #4e5c6c;
    padding: 15px 85px 15px 15px;
    border-radius: 3px;
    max-width: 292px;
}

.form ::-webkit-input-placeholder {
    color: #6a7784;
    font: 14px "Source Sans Pro", sans-serif;
    background: #4e5c6c;
}

.form ::-moz-placeholder {
    color: #6a7784;
    font: 14px "Source Sans Pro", sans-serif;
    background: #4e5c6c;
}

.form :-moz-placeholder {
    color: #6a7784;
    font: 14px "Source Sans Pro", sans-serif;
    background: #4e5c6c;
}

.form :-ms-input-placeholder {
    color: #6a7784;
    font: 14px "Source Sans Pro", sans-serif;
    background: #4e5c6c;
}

.subscribe_button_block {
    position: relative;
    top: -41px;
    left: 186px;
    max-width: 100px;
}

.subscribe_button {
    padding: 10px;
    font-size: 12px;
}

.copyright_text {
    font: 14px "Source Sans Pro", sans-serif;
    color: #616f7d;
}

.roll_up {
    display: none;
    background: url("../../images/roll_up_button.png") no-repeat;
    width: 52px;
    height: 52px;
    position: fixed;
    right: 40px;
    top: 700px;
    z-index: 10;
    border-radius: 5px;
    transition: 0.5s;
    opacity: 0;
}

.roll_up:hover {
    opacity: 1;
}

.modal {
    max-width: 970px;
    padding: 30px 47px 0 47px;
    border-radius: 10px;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    z-index: 1045;
    text-align: left;
    width: 100%;
}

.background_modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.background_modal {
    background: rgba(242, 245, 247, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
    transition: 0.5s;
    text-align: center;
    opacity: 0;
}

.modal_title {
    font: bold 44px "Lato", sans-serif;
    color: #506a85;
    margin-bottom: 48px;
}

.close_button {
    background: url("../../images/close_button.png") no-repeat;
    width: 25px;
    height: 26px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
}

.modal_form {
    border-radius: 3px;
}

.input,
textarea {
    border: none;
    outline: 0;
}

.modal input, textarea {
    background: #f8fafd;
    padding: 20px;
    border-radius: 5px;
    border: solid 1px #eef1f4;
}

.form_email {
    float: right;
}

.form_name {
    float: left;
}

.form_email,
.form_name {
    margin-bottom: 20px;
    width: 49%;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    font: 13.3333px Arial;
}

.input_name {
    width: 100%;
}

.input_email {
    width: 100%;
    float: right;
}

.input_message {
    width: 100%;
}

.pagination {
    background-color: #ffffff;
    max-width: 168px;
    z-index: 1000;
    position: absolute;
    top: 97%;
    left: calc(50% - 84px);
    border-radius: 3px;
    opacity: 0;
    padding: 6px;
}

.slider_indicator {
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #506a85;
    margin: 5px;
}

.slider_indicator:hover {
    background-color: #00bc9c;
}

.submit_button {
    max-width: 295px;
    padding: 25px;
    margin-top: 47px;
    margin-bottom: 40px;
}

.visible {
    display: block;
}

.opacity_05 {
    opacity: 0.5;
}

.opacity_1 {
    opacity: 1;
}

.hidden {
    display: none;
}

.overflow_hidden {
    overflow: hidden;
}

.contact_link_block,
.social_icons_block,
.main_logo_block_header,
.carousel_caption,
.advantage_block,
.latest_work,
.gallery_item,
.gallery_indicators_block,
.get_in_touch_block,
.who_we_are_block_footer,
.latest_works_block_footer,
.get_in_touch_block_footer,
.free_updates_block_footer,
.navbar_block_footer,
.copyright_text_block,
.gallery_item {
    width: 100%;
}

.navbar_block {
    width: 91.66667%;
}

.advantage_caption {
    width: 71%;
}

.search_block {
    width: 8.33333%;
}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }

    .gallery_item_block {
        width: 100%;
    }

    .carousel_caption_right {
        width: 91.66667%;
    }

    .contact_link_block {
        width: 66.66667%;
    }

    .navbar_block_footer {
        width: 58.33333%;
    }

    .latest_work,
    .who_we_are_block_footer,
    .get_in_touch_block_footer,
    .free_updates_block_footer,
    .gallery_item,
    .latest_work_footer {
        width: 50%;
    }

    .latest_works_block_footer {
        width: 48%;
    }

    .copyright_text_block {
        width: 41.66667%;
    }

    .social_icons_block {
        width: 33.33333%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .navbar_block {
        width: 75%;
    }

    .contact_link_block {
        width: 66.66667%;
    }

    .advantage_block {
        width: 33.33333%;
    }

    .who_we_are_block_footer,
    .latest_works_block_footer,
    .get_in_touch_block_footer,
    .free_updates_block_footer,
    .gallery_item {
        width: 25%;
    }

    .main_logo_block_header {
        width: 16.66667%;
    }

    .gallery {
        padding-bottom: 135px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .carousel_caption_right,
    .carousel_caption_left {
        width: 66.66667%;
    }
}

@media (max-width: 768px) and (min-width: 699px) {
    .contact_link_block {
        width: 66.66666667%;
    }

    .social_icons_block {
        width: 33.33333333%;
    }
}

@media (max-width: 699px) {
    .contact_link_block,
    .social_icons_block {
        text-align: center;
        padding-bottom: 10px;
        float: none;
        display: inline-block;
    }

    .icon_email,
    .icon_phone,
    .contact_link {
        float: none;
    }
}

@media (max-width: 992px) {
    .nav li {
        font-size: 14px;
    }

    .item {
        min-height: 530px;
    }

    .carousel {
        height: 530px;
    }

    .pagination
    {
        top: 93%;
    }

    .item_5 {
        min-height: 500px;
    }

    .start_button_item_5 {
        margin-top: 20px;
    }

    .carousel_item_1_margin {
        padding-top: 70px;
    }

    .main_logo {
        margin-left: auto;
        margin-right: auto;
    }

    .text_blue_background {
        padding: 10px;
    }

    .header_button {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .main_logo {
        padding-bottom: 10px;
    }

    .carousel_title {
        font-size: 56px;
    }

    .carousel_description {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .carousel_caption_right {
        padding-top: 80px;
    }

    .carousel_caption_left {
        padding-top: 80px;
    }

    .carousel_item_5_margin {
        padding-top: 50px;
    }

    .block_unit_name {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .advantage_block {
        max-width: 600px;
        margin: 30px auto;
        float: none;
        clear: both;
    }

    .advantage_title {
        padding-bottom: 5px;
        margin-bottom: 0;
    }

    .advantage_description {
        margin-top: 0;
    }

    .advantage_caption {
        width: 80%;
    }

    .advantages_appearing {
        margin-top: 30px;
    }

    .advantages {
        padding-bottom: 10px;
    }

    .footer_block_tittle {
        margin-top: 20px;
    }

    .hidden_md {
        display: none;
    }

    .gallery_item_block {
        text-align: center;
        max-width: 514px;
        margin: 0 auto;
        float: none;
    }

    .start_button_header {
        margin-top: 0;
    }
}

@media (max-width: 1199px) {
    .nav li {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar_block {
        text-align: center;
    }

    .controls {
        display: none;
    }
}

@media (max-width: 768px) {
    .carousel_title {
        font-size: 42px;
    }

    .carousel_caption_right {
        text-align: center;
    }

    .carousel_caption_center {
        padding-top: 80px;
    }

    .carousel_main_title {
        letter-spacing: 2px;
    }

    .advantage_title {
        font-size: 22px;
    }

    .advantage_description {
        font-size: 14px;
    }

    .block_title {
        font-size: 36px;
    }

    .block_subtitle {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .block_unit_name {
        padding-bottom: 15px;
    }

    .latest_work {
        max-width: 570px;
        margin: 15px auto 20px auto;
        float: none;
    }

    .gallery_item_block {
        padding-top: 45px;
    }

    .gallery_item {
        margin-bottom: 10px;
        float: none;
        display: inline-block;
        text-align: center;
    }

    .latest_work_footer,
    .who_we_are_block_footer {
        padding-bottom: 5px;
        padding-right: 5px;
    }

    .free_updates_block_footer,
    .latest_works_block_footer {
        padding-left: 15px;
    }

    .copyright_text {
        text-align: center;
        margin-bottom: 10px;
    }

    .nav_footer li {
        float: none;
    }

    .nav_footer {
        text-align: center;
    }

    .hidden_sm {
        display: none;
    }

    .nav {
        float: none;
        display: none;
    }

    .nav li {
        display: block;
        margin-bottom: 10px;
    }

    .hamburger_button {
        display: block;
    }

    .header_bottom {
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .form_name,
    .form_email {
        float: none;
        width: 100%;
    }

    .form_message {
        margin-top: 20px;
    }
}

@media (max-width: 573px) {
    .nav li {
        padding: 10px;
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .icon_passion,
    .icon_creativity,
    .icon_quality,
    .icon_brackets,
    .icon_hand,
    .icon_spiker
    {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        min-width: 0;
    }

    .advantage_caption {
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .form {
        padding-left: 7px;
    }

    .subscribe_button_block {
        top: -41px;
        left: 154px;
        max-width: 83px;
    }
}

@media (max-width: 340px) {
    .subscribe_button_block {
        top: -41px;
        left: 161px;
        max-width: 93px;
    }

    .form {
        margin-right: 15px;
        padding-left: 10px;
    }
}

@media (max-width: 442px) and (min-width: 383px) {
    .marked_none_442px:before {
        width: 0;
        height: 0;
    }
}

@media (max-width: 382px) {
    .marked_none_382px:before {
        width: 0;
        height: 0;
    }
}

@media (max-width: 973px) {
    .modal {
        width: 94%;
    }
}

/*# sourceMappingURL=main.css.map */
